<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cucumber-JVM Html Reports - Feature Overview</title>
    <link rel="stylesheet" href="${jenkins_base}plugin/cucumber-reports/blue/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="${jenkins_base}plugin/cucumber-reports/blue/css/skin/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="${jenkins_base}plugin/cucumber-reports/blue/css/960.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="${jenkins_base}plugin/cucumber-reports/blue/css/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="${jenkins_base}plugin/cucumber-reports/blue/css/text.css" type="text/css" media="screen"/>
    <link rel="shortcut icon" href="${jenkins_base}plugin/cucumber-reports/blue/favicon.ico"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawCharts);
        function drawCharts() {
            var stepsData = google.visualization.arrayToDataTable([
                ['Steps', 'Status of Steps'],
                ['Passed',     ${total_passes}],
                ['Failed',      ${total_fails}],
                ['Skipped', ${total_skipped}],
                ['Pending',  ${total_pending}]
            ]);

            var scenariosData = google.visualization.arrayToDataTable([
                ['Steps', 'Status of Steps'],
                ['Passed',     ${total_scenario_passes}],
                ['Failed',      ${total_scenario_fails}]
            ]);

            var stepsOptions = {
                title:'Steps Overview',
                is3D: true,
                colors:['green', 'red', 'blue', 'orange'],
                chartArea: {height:300}
            };

            var scenariosOptions = {
                title:'Scenarios Overview',
                is3D: true,
                colors:['green', 'red', 'blue'],
                chartArea: {height:300}
            };

            var stepsChart = new google.visualization.PieChart(document.getElementById('steps_results_chart'))
                    .draw(stepsData, stepsOptions);
            var scenariosChart = new google.visualization.PieChart(document.getElementById('scenarios_results_chart'))
                    .draw(scenariosData, scenariosOptions);
        }
    </script>
    <link rel="shortcut icon" href="favicon.ico"/>
    <style>
        .feature-keyword {
            font-weight: bold;
        }

        .feature-description {
            padding-left: 15px;
            font-style: italic;
            background-color: beige;
        }

        .feature-role {
            font-weight: bold;
        }

        .feature-action {
            font-weight: bold;
        }

        .feature-value {
            font-weight: bold;
        }

        .feature-tags {
            padding-top: 10px;
            padding-left: 15px;
            color: darkblue;
        }

        .scenario-keyword {
            font-weight: bold;
            padding-left: 15px;
        }

        .scenario-scenario_name {
            padding-left: 15px;
        }

        .step-keyword {
            font-weight: bold;
            padding-left: 50px;
        }

        .step-error-message {
            background-color: #FFEEEE;
            padding-left: 50px;
            border: 1px solid #D88A8A;
        }

        .passed {
            background-color: #C5D88A;
        }

        .failed {
            background-color: #D88A8A;
        }

        .skipped {
            background-color: #2DEAEC;
        }

        .undefined {
            background-color: #ebcc81;
        }

        table.stats-table {
            color: black;
            border-width: 1px;
            border-spacing: 2px;
            border-style: outset;
            border-color: gray;
            border-collapse: collapse;
            background-color: white;
        }

        table.stats-table th {
            color: black;
            border-width: 1px;
            padding: 5px;
            border-style: inset;
            border-color: gray;
            background-color: #66CCEE;
            -moz-border-radius:;
        }

        table.stats-table td {
            color: black;
            text-align: center;
            border-width: 1px;
            padding: 5px;
            border-style: inset;
            border-color: gray;
            background-color: white;
            -moz-border-radius:;
        }
    </style>

</head>
<body id="top">
<div id="fullwidth_header">
    <div class="container_12">
        <h1 class="grid_4 logo"><a href="feature-overview.html" class='ie6fix'>Cucumber</a></h1>

        <div class="grid_6" id="nav">
            <ul>
                #if ($build_number)
                    <li><a href="${jenkins_base}job/$build_project/$build_number">Back To Jenkins</a></li>
                #end
            </ul>
        </div>
    </div>
</div>
<div id="fullwidth_gradient">
    <div class="container_12">
        <div class="grid_9 heading">
            <h2>Project Overview#if ($build_number) for Build: $build_number#end</h2>
            <span class="subhead">The following graph shows number of steps passing, failing and skipped for this build:</span>
        </div>
    </div>
</div>

<div class="container_12">
    <div class="grid_12">
        <div id="pieChartContainer" style="width: 100%">
            <div id="scenarios_results_chart" style="height: 425px"></div>
            <div id="steps_results_chart" style="height: 425px"></div>
            <noscript>
                <P>This content requires JavaScript.</P>
            </noscript>
        </div>
        <br/>

        <div class="grid_12"></div>
        <div>
            <br/>

            <h2>Project Statistics</h2>
            <table class="stats-table">
                <tr>
                    <th>Project</th>
                    <th>Features</th>
                    <th>Scenarios</th>
                    <th>Steps</th>
                    <th style="background-color:#C5D88A;">Passed Scenarios</th>
                    <th style="background-color:#D88A8A;">Failed Scenarios</th>
                    <th style="background-color:#C5D88A;">Passed Steps</th>
                    <th style="background-color:#D88A8A;">Failed Steps</th>
                    <th style="background-color:#2DEAEC;">Skipped Steps</th>
                    <th style="background-color:#ebcc81;">Pending Steps</th>
                    <th>Duration</th>
                    <th>Status</th>
                </tr>

                #foreach($project in $projects)

                    #if($project.getStatus().toString() == "PASSED")
                        #set($bgcolour = "#C5D88A")
                    #else
                        #set($bgcolour = "#D88A8A")
                    #end

                    <tr>
                        <td style="text-align:left;"><a href="$project.getProjectFeatureUri()">$project.getName()</a></td>
                        <td>$project.getNumberOfFeatures()</td>
                        <td>$project.getNumberOfScenarios()</td>
                        <td>$project.getNumberOfSteps()</td>
                        <td>$project.getNumberOfScenariosPassed()</td>
                        <td>$project.getNumberOfScenariosFailed()</td>
                        <td>$project.getNumberOfStepsPassed()</td>
                        <td>$project.getNumberOfStepsFailed()</td>
                        <td>$project.getNumberOfStepsSkipped()</td>
                        <td>$project.getNumberOfStepsPending()</td>
                        <td>$project.getFormattedDuration()</td>
                        <td style="background-color: $bgcolour;">$project.getStatus()</td>
                    </tr>
                #end

                <tr>
                    <td style="background-color:lightgray;font-weight:bold;">$total_projects</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_features</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_scenarios</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_steps</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_scenario_passes</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_scenario_fails</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_passes</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_fails</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_skipped</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_pending</td>
                    <td style="background-color:lightgray;font-weight:bold;">$total_duration</td>
                    <td style="background-color:lightgray;font-weight:bold;">Totals</td>
                </tr>
            </table>
        </div>

    </div>
</div>


<div class="container_12">
    <div class="grid_12 hr"></div>
    <div class="grid_12 footer">
        <p style="text-align:right;">Created at $time_stamp</p>
    </div>
</div>
<div class="clear"></div>
</body>
</html>
